*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
h1{
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

body{
    font-family: 'Poppins','Roboto',sans-serif;
}

header{
    background-color: rgb(101, 212, 175);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
}

header a:hover{
    color: rgb(255, 255, 255);
}

main{
    width: 100%;
    height: 2500px;
 }

/*Palabra destinos (Logo)*/

#Destinos{
    font-size: 40px;
}

/* Se modifica la caja de boton de iniciar sesion */

#boton_iniciar_sesion{
    padding: 2px 6px;
    background-color:#59b2a2;
    border: 1px solid #59b2a2;
}

/* Se modifica el logo del boton de iniciar sesion */

.logo{
    display: flex;
    align-items: center;
    padding: 2px 4px;
}

/* Se cambian el tama単o de los iconos de toda la pagina */

.icono{
    height: 20px;
    display: flex;
    align-items: center;
    padding: 2px 4px; 
} 



nav{
    height:60px ;
    width: 100%;
}



#barra_de_navegacion{
    width: 100%;
    height: 60px;
    background-color:#59b2a2;

    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



    nav #barra_de_navegacion a{
        margin: 10px;
        padding: 10px; 
        display: flex;
        flex-direction: column;
} 



nav #barra_de_navegacion article :hover{

    color:white;
 } 



 

 main section #banner{
    width: 100%;
    height: 300px;
 }



main .caja_padre_vuelos{
    width: 70%;
    height: 2100px;
    margin: auto;
}


main .caja_vuelos{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    border: 1px solid rgb(197, 197, 197);
}

/*Se da estilos a las cajas interiores*/
main .imagen_de_vuelo{
    width: 300px;
    height: 300px;
}
main .imagen_de_vuelo img{
    width:100% ;
    height: 100%;
    object-fit: cover;
}


main .info_de_vuelo{
    width: 800px;
    height: 300px;
    border-right: 1px solid grey;
}
main .info_de_vuelo ul{
    font-size: 20px;
    margin: 20px;
}
main .info_de_vuelo h2{
    margin: 20px;
}
main .info_de_vuelo ul li{
    margin: 20px;
}


main .precio_ver_oferta{
    width: 250px;
    font-size: 20px;
    padding:20px ;
    border-left:none;
}
main .precio_ver_oferta ul li{
    margin: 20px;
    text-align: center;
}

main .precio_ver_oferta .boton_ver_oferta{
    margin: 20px 0 0 30px;
}


.boton_ver_oferta{ 
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color:rgb(101, 212, 175);
    color: white;
    font-size: 20px;
    border: none;

}

.boton_ver_oferta:hover{ 
    background-color:rgb(0, 145, 96) ;
}







footer{
    width: 100%;
    height: 500px;
    background-color: #2A2F51;
    padding: 80px;
}

footer h3{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    padding-bottom: 1;
    border-bottom: 2px solid #00c3ff;
    display: inline-block;
}

footer a{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 10px;

}
footer a:hover{
    color: #00c3ff;
}

.footer-links section{
    margin-left: 15px;

}

.footer-links section form{
    width: 400px;
    height: 80px;

    display: flex;
    flex-direction: column;

    font-size: 20px;
    margin-top: 20px;
}

.footer-links section form section{
    height: 40px;

    display: flex;
    justify-content: space-around;

}

.footer-links section form section label{
    width: 100px;
    height: 30px;
    margin: 5px 10px 0 10px;
    display: flex;
    justify-content: space-evenly;
} 

    .footer-links section form section label input{
        font-size: 15px;
        border: none;
        padding: 5px; 
}

#container-footer{
    display: flex;
    justify-content: space-between;
}
.footer-links{
    width: 700px;
}

.boton_footer{
    height: 30px;
    margin: 0 0 0 5px;
    padding: 0 0 5px 0;
    background-color: #006c8d;


    border: none;
    border-radius: 5px;
    
    color: white;
}

.boton_footer:hover{
    background-color: #00c3ff;
    color: #2A2F51;
}

.footer-links section form section img{
    width: 35px;
    height: 35px;
    margin: 3px 15px 0 0;
}

/*Se ajusta el tama単o de los iconos del footer*/
.icono-footer{
    width: 30px;
    height: 30px;
}


@media screen and (min-width: 425px) and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
        list-style: none;
    }
    body{
        font-family: 'Poppins','Roboto',sans-serif;
        width: 100%;
    }
    
    /*Cambia todos los links a negro y saca el subrrayado */
    
    a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    

    #Destinos{
        font-size: 20px;
    }

    #boton_iniciar_sesion{
        /* padding: 2px 6px; */
        background-color:#59b2a2;
        border: 1px solid #59b2a2;
        font-size: 10px;
        width: 70px;
    }
    
    .numero_de_consulta{
        font-size: 7px;
    }

    /* Se modifica el logo del boton de iniciar sesion */

    .logo{
        display: flex;
        align-items: center;
        padding: 2px 2px;
    }

    /* Se cambian el tama単o de los iconos de toda la pagina */

    .icono{
        height: 15px;
        display: flex;
        align-items: center;
        padding: 2px 4px; 
    }

    header{
        background-color: rgb(101, 212, 175);
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px; 
    }


    /*Se pone estilos al NAV*/

    nav{
        height:40px ;
        width: 100%;
        
    }

    /*Barra de NAV*/

    #barra_de_navegacion{
        width: 100%;
        height: 40px;
        background-color:#59b2a2;
        font-size: 10px;

        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    /*Las cajas de las barras del NAV*/

        nav #barra_de_navegacion a{
            margin: 5px;
            padding: 5px; 
            display: flex;
            flex-direction: column;
    } 
    

    /* Establece el color de fondo predeterminado para los enlaces */

    nav #barra_de_navegacion article :hover{

        color:white;
    }    




    /*BANNER DE RUSHER*/
    .hero-banner{
        width: 100vw;
        height: 30vw; 
        min-width: 300px;
        max-width: 1000px;
    }
    .hero-banner #banner{
        width: 100%;
        height:30vw;
    }

    h1{
        font-size: 20px;
        margin: 10px;
    }



    main{
        width: 100%;
        height: 1200px;
    }

    
    
    main .caja_padre_vuelos{
        width: 60%;
        height: 100%;
        margin: auto;

    }
    
    
    main .caja_vuelos{
        width: 100%;
        height: 150px;

        display: flex;
        flex-direction: row;

        margin: 20px 0 20px 0;
        border: 1px solid rgb(197, 197, 197);
    }
    
    /*Se da estilos a las cajas interiores*/

    main .imagen_de_vuelo{
        width: 0;
        height: 0;
    }
    
    
   main .info_de_vuelo{
        width: 80%;
        height: 100%;
        border-right: 1px solid grey;
    }
    main .info_de_vuelo ul{
        font-size: 10px;
        margin: 10px;
    }
    main .info_de_vuelo h2{
        margin: 10px;
    }
    main .info_de_vuelo ul li{
        margin: 10px;
    }
    
    
    main .precio_ver_oferta{
        width: 30%;
        font-size: 10px;
        padding:10px ;
        border-left:none;
    }
    main .precio_ver_oferta ul li{
        margin: 10px;
        text-align: center;
    }
    
    main .precio_ver_oferta .boton_ver_oferta{
        margin: 20px 0 0 0;
    }
    
    .boton_ver_oferta{ 
        width: 60px;
        height: 30px;
        border-radius: 50px;
        background-color:rgb(101, 212, 175);
        color: white;
        font-size: 10px;
        border: none;
    
    }
    
    .boton_ver_oferta:hover{ 
        background-color:rgb(0, 145, 96) ;
    }
    
    
     /*FOOTER*/
     footer{
        width: 100%;
        height: 200vw;
        background-color: #2A2F51;
        padding: 80px;
    }

    footer h3{
        font-size: 15px;
        color: white;
        margin-bottom: 10px;
        padding-bottom: 1px;
        border-bottom: 2px solid #00c3ff;
        display: inline-block;
    }
    
    footer a{
        font-size: 10px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin: 10px;
    }
    
    footer a:hover{
        color: #00c3ff;
    }

    #container-footer{
        display: flex;
        flex-wrap: wrap;
    }

    .footer-links section{
        margin-left: 15px;
    }

    .footer-links section form{
        width: 270px;
        height: 80px;

        display: flex;
        flex-direction: column;

        font-size: 20px;
        margin-top: 20px;
    }

    .footer-links h4{
        font-size: 15px;
    }

    .footer-links{
        width: 700px;
    }

    .footer-links section form section{
        width: 250px;
        height: 30px;
        display: flex;
        justify-content: space-around;

    }

    .footer-links section form section{
        width: 250px;
        height: 40px;

        display: flex;
        justify-content: space-evenly;
    } 

    .footer-links section form section label input{
        font-size: 10px;
        border: none;
        padding: 5px; 
    }

    #container-footer{
        display: flex;
        justify-content: space-between;
    }


    .boton_footer{
        height: 30px;
        margin: 0 0 0 5px;
        padding: 0 0 5px 0;
        background-color: #006c8d;

        border: none;
        border-radius: 5px;
        
        color: white;
    }

    .boton_footer:hover{
        background-color: #00c3ff;
        color: #2A2F51;
    }

    .footer-links section form section img{
        width: 35px;
        height: 35px;
        margin: 3px 15px 0 0;
    } */

    /*Se ajusta el tama単o de los iconos del footer*/
    .icono-footer{
        width: 20px;
        height: 20px;
    }
}